<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CPServicesGroup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CPServicesGroup.My.MySettings>
            <setting name="Tips" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>You can double-click on any filter button to fast-select a display.</string>
                        <string>You can drag&amp;&amp;drop services into a group.</string>
                        <string>You can start and stop all services from a group at once.</string>
                        <string>You can change a service startup type with the context menu.</string>
                        <string>You can see all tips in the About window, by clicking on it.</string>
                        <string>Services status updates automatically, event if its changed from outside.</string>
                        <string>You can rename a group by using the interface, the context menu, or by clicking on it.</string>
                        <string>You can filter the services list to show only those having this text in their name.</string>
                        <string>System services are available also, but it is recommended NOT TO CHANGE THEM.</string>
                        <string>A group is not showing recorded services that don't exist anymore in the OS.</string>
                        <string>You can see a service real name by selecting it and looking at the window's title.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CPServicesGroup.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
